body {
    background-color: bisque;
    font-family: 'Bagel Fat One', cursive;
    font-size: 20px;
  }
  .container {
    max-width: 600px;
    margin: 0 auto;
  }
  h1 {
    color: darkgreen;
    text-align: center;
    font-size: 2.5em;
  }
  h2 {
    color: rgb(0, 44, 0);
    font-size: 1.5em;
    font-weight: 400;
  }
  
  p { 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .important {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: red;
    font-weight: 700;
    text-align: center;
  
  }
  
  .internal-input {
    width: 100%;
    border-radius: 15px;
    height: 3em;
  }
  
  .btn {
    margin-top: 2em;
    width: 101%;
    border-radius: 17px;
    height: 3em;
    padding: 0;
    background-color: darkgreen;
    color: bisque;
    font-family: 'Bagel Fat One', cursive;
    font-size: 20px;
    cursor: pointer;
  }
  
  .btn:hover {
    border-color: white;
    border-width: 4px;
  }
  
  .emoji-list {
    width: 95%;
    background-color: lightgreen;
    border-radius: 15px;
    padding: 1em;
    margin: 2em 0;
  }